---
---
<section class="bg-white py-32 overflow-hidden">
    <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 lg:grid-cols-2 gap-20 items-center">
        <div class="relative h-[450px] md:h-[550px] w-full">
            <div
                class="absolute top-10 left-0 w-[70%] h-[80%] bg-jmj-orange clip-slant opacity-90 transition-transform duration-700 hover:translate-x-2">
            </div>
            <img src="/assets/images/camion.webp" alt="Ingeniero en Faena"
                class="absolute top-0 right-0 w-[85%] h-[90%] object-cover clip-slant shadow-2xl transition-transform duration-700 hover:-translate-x-2">
        </div>

        <div class="max-w-lg">
            <h2 class="text-jmj-orange text-sm font-extrabold tracking-[0.25em] uppercase mb-4">Socio Estratégico
            </h2>
            <p class="font-stix text-4xl md:text-5xl text-jmj-blue leading-tight mb-8">
                Consultoría de ingenieros para ingenieros.
            </p>
            <p class="text-slate-600 text-lg leading-relaxed mb-6">
                Nuestro equipo multidisciplinario está conformado por ingenieros civiles postgraduados y con
                certificaciones internacionales (PMP®, PMO-CC®, VIP).
            </p>
            <p class="text-slate-600 text-lg leading-relaxed">
                Hablamos su mismo idioma técnico-financiero para asegurar que cada decisión sume valor real a su
                operación.
            </p>
        </div>
    </div>
</section>
