---
---
<section class="max-w-7xl mx-auto px-6 relative z-30 -mt-20 mb-20">
    <div
        class="bg-white rounded-2xl shadow-[0_10px_40px_-10px_rgba(0,0,0,0.1)] border border-slate-100 p-8 flex flex-col md:flex-row items-center justify-between gap-8">
        <p class="text-xs font-bold text-slate-400 uppercase tracking-widest whitespace-nowrap">Confían en nosotros:
        </p>
        <div
            class="flex flex-wrap justify-center gap-10 md:gap-16 opacity-40 grayscale hover:grayscale-0 transition-all duration-500">
            <span class="text-2xl font-stix font-bold text-jmj-blue">CODELCO</span>
            <span class="text-2xl font-stix font-bold text-jmj-blue">BHP</span>
            <span class="text-2xl font-stix font-bold text-jmj-blue">BECHTEL</span>
            <span class="text-2xl font-stix font-bold text-jmj-blue">FLUOR</span>
            <span class="text-2xl font-stix font-bold text-jmj-blue">HATCH</span>
        </div>
    </div>
</section>
